apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-go-deployment
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx-go-container
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-go-config
          mountPath: /etc/nginx/conf.d
      volumes:
      - name: nginx-go-config
        configMap:
          name: nginx-go-config